// mixin

// con parametros

@mixin botones($width, $height){ 
    width: $width;
    height: $height;
}

// sin parametros

@mixin flex{ 
    display: flex;
    justify-content: center;
    align-items: center;
}